h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: lightblue;
}

h3 {
  margin-top: 0;
  color: #00a5d2;
}

p {
  margin: 5px 0;
}


